<a href="https://colab.research.google.com/github/prajwalchalwadi/PRAJWAL/blob/main/cw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
a=10
print(a)
a+=8
print(a)
a-=5
print(a)
a*=0
print(a)

10
18
13
0

In [8]:
a=20
print(a)

20

In [17]:
a=20
a/=2
print(a)

10.0

**identify and membership operators**

In [23]:
x=["hubli","belgaum"]
y=["hubli","belgaum"]
z=x
z=y
print(z is not x)
print(y is x)
print(y is z)

True
False
True

**while loop**

In [43]:
num=int(input("enter the number"))
while num<=9:
 print("number is single digit")
 break
while num>9 and num<=99:
 print("number is double digit")
 break

enter the number55
number is double digit

**for loop**

In [44]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [46]:
for x in range(1,20,2):
  print(x)

1
3
5
7
9
11
13
15
17
19

In [48]:
for x in range(0,1000,100):
  print("trible digit number")

trible digit number
trible digit number
trible digit number
trible digit number
trible digit number
trible digit number
trible digit number
trible digit number
trible digit number
trible digit number